@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';

@theme {
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --color-primary: #2563eb;
  --color-primary-dark: #1d4ed8;
}

body {
  font-family: var(--font-inter);
}
